<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hata</title>
</head>
<body>
    <hgroup>
        <h2>İşlem sırasında hata oluştu. Lütfen tekrar deneyin. Hatanın devam etmesi halinde teknik desteğe başvurun</h2>
    </hgroup>
</body>
</html>
