@using EgepakErp.DtModels;

@model List<MaliyetDto>

<tr>
    <td>Toplam Maliyet</td>
    @{ var liste = Model.GroupBy(x => x.KalipId); }

    @foreach (var item in liste)
    {
        <td>
            <div class="form-group row">
                <div class="col-lg-12 mb-2">
                    <label>Toplam</label>
                    @item.Sum(x=>x.Tutar) tl
                </div>
            </div>
        </td>
    }

</tr>
