@*<div class="row align-items-center">
    <div class="col-lg-12 col-xl-12">
        <div class="row align-items-center">

            <div class="col-md-3 my-2 my-md-0">
                <div class="input-icon">
                    <input type="text" class="xxxx form-control form-control-solid" placeholder="Search..." id="searchQuery" />
                    <span>
                        <i class="flaticon2-search-1 text-muted"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-3 my-2 my-md-0">
                <select class="form-control form-control-solid selectpicker" data-live-search="true" id="urunCinsiId" name="urunCinsiId">
                    <option value="">Ürün Cinsi Seçiniz</option>
                    @foreach (var item in baseUrunCinsi)
                    {
                        <option value="@item.UrunCinsiId">@(item.Kisaltmasi+"/"+item.Adi)</option>
                    }

                </select>
            </div>
        </div>
    </div>
</div>*@

<div class="row align-items-center">
    <div class="col-lg-12 col-xl-12">
        <div class="row align-items-center">

            <div class="col-md-3 my-2 my-md-0">
                <div class="input-icon">
                    <input type="text" class="form-control form-control-solid filterFormControl" placeholder="Search..." id="searchQuery" />
                    <span>
                        <i class="flaticon2-search-1 text-muted"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-3 my-2 my-md-0">
                <select class="form-control form-control-solid filterFormControl" id="urunCinsiId">
                    <option value="">Ürün Cinsi Seçiniz</option>
                    @foreach (var item in baseUrunCinsi)
                    {
                        <option value="@item.UrunCinsiId">@(item.Kisaltmasi+"/"+item.Adi)</option>
                    }

                </select>
            </div>
        </div>
    </div>
</div>