@model Urun
<!--begin::Form-->
<form id="urunForm">
    <input type="hidden" name="UrunId" value="@(Model?.UrunId)" />
    <div class="form-group  ">
        <div class="col-lg-12">
            <label>Ürün Cinsi:</label>
            <select name="UrunCinsiId" class="form-control form-control-solid selectpicker" data-live-search="true" id="UrunCinsiId">
                <option value="">Seçiniz</option>
                @foreach (var item in baseUrunCinsi)
                {
                    var slc = (Model != null && Model.UrunCinsiId == item.UrunCinsiId) ? "selected" : "";
                    <option @slc value="@item.UrunCinsiId">@(item.Kisaltmasi+"/"+item.Adi)</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group  ">
        <div class="col-lg-12">
            <label>Ürün No:</label>
            <input class="form-control" name="UrunNo" type="text" value="@(Model?.UrunNo)">
        </div>
    </div>

</form>
<!--end::Form-->
