<div class="row align-items-center">
    <div class="col-lg-12 col-xl-12">
        <div class="row align-items-center">
            <div class="col-md-3 my-2 my-md-0">
                <div class="input-icon">
                    <input type="text" class="xxxx form-control form-control-solid filterFormControl " placeholder="Search..." id="searchQuery" />
                    <span>
                        <i class="flaticon2-search-1 text-muted"></i>
                    </span>
                </div>
            </div>

            <div class="col-md-3 my-2 my-md-0">
                <div class="">
                    <select class="form-control filterFormControl" name="Type" id="Type">
                        <option value="0">Tip seçin</option>
                        <option value="1">Granül Boya</option>
                        <option value="2">Metalize</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
</div>
