@model CariGrup

<div class="card card-custom example example-compact">
    <!--begin::Form-->
    <form id="CariGrupForm">
        <div class="card-body">
            <div class="form-group row">
                <input type="hidden" name="CariGrupId" value="@Model?.CariGrupId" />
                <div class="col-lg-12">
                    <div class="form-group mb-5">
                        <label>Cari Grup:</label>
                        <input type="text" name="Adi" class="form-control" placeholder="Adi" value="@(Model?.Adi)">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--end::Form-->
</div>

