
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-2">
        <a href="/entegrasyon/uretimbilgitemizle" class="btn btn-danger">Temizle</a>
    </div>
    <div class="col-2">
        <a href="/entegrasyon/uretimbilgikaydet" class="btn btn-success">Kaydet</a>
    </div>
</div>

